.dark-blue {
  background-color: #1f2937;
}
.header-container {
  display: flex;
  height: 600px;
  color: #e5e7eb;
  font-size: 18px;
}
.header-item {
  width: 60px;
  flex: 1;
}
.header-item.first-item {
  color: #f9faf8;
  font-size: 24px;
}
